.row
  .large-8.columns
    %h2 I am an Applications Developer in California in the Santa Barbara San Gabriel Valley area.
    :markdown
      My name is Nelson Chen.
  .large-4.columns
    :markdown
      * Ruby
        * Ruby on Rails
        * `nanoc`
      * Scala
        * Play Framework
        * Akka Actors
      * Debian/Ubuntu
        * `iptables`
        * Packaging and Administration
      * OS X
      * Web Design
        * Zurb Foundation
        * Twitter Bootstrap
        * Photoshop
      * Systems Deployment
        * Heroku
        * Chef
      * Systems Development
        * Vagrant
        * Chef Solo
      * PostgreSQL
      * Java
        * Android
      * IDE
        * IntelliJ IDEA
        * Vim
      * GIS
        * OpenStreetMap
      * Python
      * LaTeX
.row
  .large-6.columns
    %h3 Links
    %ul
      %li GitHub
      %li Pinboard
  .large-6.columns
    %h3 Recent Blog Posts

