.row
  .large-8.columns
    %h2 My name is Nelson Chen. I am an applications developer in Santa Barbara, CA and Los Angeles, CA.
  .large-4.columns
    :markdown
      * Ruby
        * Ruby on Rails
        * Nanoc
      * Scala
        * Play Framework
      * Linux/Unix
        * Ubuntu
        * OS X
      * Web Design
        * Zurb Foundation
        * Twitter Bootstrap
        * Photoshop
      * Java
      * Python

      The _wide_ variety of skills I have picked up is most definitely not *limited* to this.


