.row
  .large-8.columns
    %h2 I am an Applications Developer in Santa Barbara, CA and Los Angeles, CA.
    %h2 My name is Nelson Chen.
  .large-4.columns
    :markdown
      * Ruby
        * Ruby on Rails
        * `nanoc`
      * Scala
        * Play Framework
      * Debian/Ubuntu
        * `iptables`
        * Packaging and Administration
      * OS X
      * Web Design
        * Zurb Foundation
        * Twitter Bootstrap
        * Photoshop
      * Systems Deployment
        * Heroku
        * Chef
      * Systems Development
        * Vagrant
        * Chef Solo
      * PostgreSQL
      * Java
        * Android
      * IDE
        * IntelliJ IDEA
        * Vim
      * GIS
        * OpenStreetMap
      * Python

