.row
  .large-8.columns
    %h1 Nelson Chen
    :markdown
      Hello! I'm a developer.
  .large-4.columns
    %a.button.expand{href: 'https://github.com/crazysim'}
      GitHub
    %a.button.expand{href: 'https://github.com/crazysim/cvtex/blob/mod_nelson/cv_nelson.pdf?raw=true'}
      Resume
.row
  .large-12.columns
    %h2 Recent Blog Posts
    - sorted_articles.take(5).each do |article|
      %h5
        %a{href: article.path}
          = article[:title]
        \- #{article[:created_at].strftime('%B %d')}

