.row
  .large-6.columns
    %h1 Nelson Chen
    :markdown
      Welcome to my rather spartan and unmaintained site.
  .large-6.columns
    %h5 😚
    :markdown
      If you want to know what I'm making, thinking, or doing,
      check these out:

    %a.button.expand{href: 'https://github.com/nelsonjchen'}
      GitHub
    %a.button.expand{href: 'https://twitter.com/crazysim'}
      Twitter
    %a.button.expand{href: 'https://github.com/nelsonjchen/cvtex/blob/mod_nelson/cv_nelson.pdf?raw=true'}
      Résumé

.row
  .large-12.columns
    %h2 "Recent" Blog Posts
    - sorted_articles.take(5).each do |article|
      %h5
        %a{href: article.path}
          = article[:title]
        \- #{article[:created_at].strftime('%B %d')}
